.candidat-dashboard{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* background-color: #a2a7a2; */
    box-shadow: 0 0 10px #ccc;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    
}

.candidat-dashboard .candidat-dashboard-row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.candidat-dashboard .candidat-dashboard-row .candidat-dashboard-col{
    margin-top: 20px;
    margin-bottom: 20px;
}

.candidat-dashboard .candidat-dashboard-row .candidat-dashboard-col .candidat-dashboard-card{
    cursor: pointer;
    padding: 20px;
    border: 1px solid #e3dddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    animation: 1.5s ease-out 0s 1 slideInFromRight;
    
}


/*animation*/
/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(20%);
    }
    80% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
} */

@keyframes slideInFromRight {
    /* 0% {
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    } */
}

/* univers animatio 3d */


@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(20deg);
    }
    100% {
        transform: rotateY(0deg);
    }

    
}

@keyframes rotate2 {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-360deg);
    }

    
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

    
}

.candidat-dashboard .candidat-dashboard-row .candidat-dashboard-col{
    animation: 2s ease-out 0s 1 rotate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.post-header {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: 20px;
    width: 100%;
}

.post-header .option-button {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}




/* Styles pour le formulaire d'ajout de post */
.candidat-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #ccc;
    max-width: 800px;
    animation: fadeIn 1s ease-in-out;
}

.ajouter-post-form {
    width: 100%;
}

.ajouter-post-item {
    margin-bottom: 20px;
}

.ajouter-post-input:first-child {
    width: 80%;
    margin: auto;
}

/* Styles pour le bouton "Poster" */
.ajouter-post-form .ant-btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.ajouter-post-form .ant-btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.ajouter-post-form .ant-btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Styles pour l'éditeur de texte React Quill */
.react-quill {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Styles pour le champ de téléchargement d'image */
.upload-widget-container {
    display: flex;
    align-items: center;
}

.upload-widget-preview {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

/* Styles pour le label du champ de téléchargement d'image */
.upload-widget-label {
    margin-right: 10px;
}

/* Styles pour le bouton du champ de téléchargement d'image */
.upload-widget-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.upload-widget-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.upload-widget-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Styles pour les ... verticaux pour les actions sur les posts option-button, update-icon, delete-icon */

.option-button {
    background-color: transparent;
    color: #000;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    right: -5;

}

.option-button:hover .option-button-icon {
    opacity: 1;
}

.option-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.option-button-icon:hover {
    opacity: 1;
}

.update-icon {
    width: 20px;
    height: 20px;
    color: #007bff;
    background-color: transparent;
}

.delete-icon {
    width: 20px;
    height: 20px;
    color: #dc3545;
    background-color: transparent;
}

.delete-icon:hover {
    color: #fff;
    background-color: #dc3545;
}

.update-icon:hover {
    color: #fff;
    background-color: #007bff;
}



/* Styles pour le bouton "Modifier" */

.update-post-form {
    width: 100%;
}



