.mainLayout {
    min-height: calc(100vh - 8rem);
    display: flex;
    padding: 24px;
    position: relative;
    overflow: hidden;
}

.Layout {
    flex: 9.5;
    margin-left: 5rem;
    overflow-y: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    /* Fixe la position en haut de la fenêtre */
    right: 0;
    /* Fixe la position à droite de la fenêtre */
    height: 100vh;
}

.endirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 35rem;
    height: 25rem;
    padding: 1rem;
}

.Layout .post {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: .5rem;
    box-shadow: 0px 1px 3px 0.5px rgba(0, 0, 0, 0.25);
    align-self: center;
    width: 45rem;
    height: 20rem;
}

.Layout .post img,
.postheader__img img {
    height: 170px;
    width: 100%;
    object-fit: cover;
}

.Layout .post .postheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Layout .post .postheader h2 {
    align-self: flex-start;
}

.Layout .post .postheader img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.Layout .post .postheader .headresBotoms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: .1rem;
    justify-content: start;
}

.Layout .post .postheader .headresBotoms img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    object-fit: contain;
}

.Layout .post .postheader .headresBotoms p {
    margin-right: .5rem;
    color: #027314;
    font-size: medium;
    font-weight: bold;
}

.Layout .post .postheader .headresBotoms span {
    color: black;
    font-size: small;
}

.Layout .post .postheader .postheader__details {
    margin-left: 1.5rem;
}

.Layout .post .postbody {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.postBotom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: medium;
    padding: 0.2rem;
}