@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;0,700;1,400;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

:root {
    --green: #027314;
    --orange: #ff7200;
    --hex: #d8e9da;
    --ora: #ffeee0;
    --aut: #7d7d7d;
    --util: #e0e0e0;
    --white: #ffff;
    --black: #2c2c54;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 1px 3px rgba(0, 0, 0, 0.12);
}

*::selection {
    background-color: var(--util);
    color: var(--white);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
    overflow-x: hidden;
}


/* .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: var(--black);
    color: var(--white);
} *
h
/* sideBar start */


/* sideBar end */

.butomAoutlin {
    border-radius: 50px;
    border: 1px solid #027314;
    background: #fff;
    padding: 0.5rem;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.butomFillSecondary {
    border-radius: 50px;
    border: 1px solid #fff;
    background: #027314;
    padding: 0.5rem;
    text-align: center;
    font-size: medium;
    color: #fff;
}

.butomFillSecondary:hover {
    background-color: var(--white);
    color: var(--green);
    transition: background-color 1s ease-in;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ff7200;
}

.butomFillPrimary {
    border-radius: 50px;
    border: 1px solid #fff;
    background: var(--orange);
    padding: 0.5rem;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: #fff;
}

.butomFillPrimaryLeft {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #fff;
    background: var(--orange);
    padding: 0.5rem;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: #fff;
}

.myButon {
    border-radius: 50px;
    border: 1px solid #fff;
    background: var(--orange);
    padding: 0.5rem;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: #fff;
}

.butomAoutlin:hover {
    background-color: var(--green);
    color: var(--white);
    transition: background-color 1s ease-in-out;
    border-radius: 30px;
    cursor: pointer;
}

.butomFillPrimary:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: background-color 1s ease-out;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid var(--green);
}

.listCandidat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}


/* cardswipe */

aside {
    width: 350px !important;
    max-width: 400px !important;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: var(--black);
    color: var(--white);
}

.imgCan {
    height: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.ant-pagination-next {
    text-align: center;
    align-items: center;
}